.sources__heading
    h1 ПОЛЕЗНЫЕ РЕСУРСЫ

.swiper-container
    .swiper-wrapper.sources__content
        .swiper-slide.sources__source
            a(href='/')
                img.sources__img(src=require('images/source.png'))
        .swiper-slide.sources__source
            a(href='/')
                img.sources__img(src=require('images/source.png'))
        .swiper-slide.sources__source
            a(href='/')
                img.sources__img(src=require('images/source.png'))
        .swiper-slide.sources__source
            a(href='/')
                img.sources__img(src=require('images/source.png'))
        .swiper-slide.sources__source
            a(href='/')
                img.sources__img(src=require('images/source.png'))
    .swiper-button-prev
    .swiper-button-next
